  <!-- SIDEBAR
  ================================================== -->
  <div class="sidebar">
      <!-- Sidebar: User -->
      <div class="sidebar__user">

      <!-- Sidebar: User avatar -->
      <div class="sidebar-user__avatar">
          <img src="assets/img/user_1.jpg" alt="...">
      </div>

      <!-- Sidebar: User info -->
      <a class="sidebar-user__info" role="button" href="#sidebar-user__nav" data-toggle="collapse" aria-expanded="false" aria-controls="sidebar-user__nav">
          <h4>Alex Benchea</h4>
          <p>User <i class="fa fa-caret-down"></i></p>
      </a>

      </div> <!-- / .sidebar__user -->

      <!-- Sidebar: User nav -->
      <nav class="sidebar-user__nav collapse" id="sidebar-user__nav">
      <ul class="sidebar__nav">
          <li>
          <a href="profile.html">
            <i class="fa fa-users"></i> Curent Day
          </a>
          </li>
          <li>
          <a href="edit-profile.html">
              <i class="fa fa-user"></i> Tasks
          </a>
          </li>
      </ul>
      </nav>

      <!-- Sidebar: Nav -->
      <nav id="sidebar__nav">
      <!-- Loaded from /sidebar.json -->
      </nav>

  </div>                 
                                  