/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://cdn-images-1.medium.com/max/2000/1*Up3aVxawTqsRpm6W0zT4YA.jpeg");
    background-size: cover;
    opacity: 1;
}